button {
  padding: 20px;
  background-color: aquamarine;
  border: none;
  width: 150px;
}

.dropDownList {
  display: none;
  border: 2px solid #000;
  width: 150px;
}

.dropDown:hover .dropDownList {
  display: block;
}

ul {
  list-style-type: none;
}
