* {
  margin: 0;
  padding: 0;
}
.menu {
  background-color: rgb(128, 128, 187);
  height: 70px;
}
button {
  text-align: center;
  font-size: medium;
  padding: 10px;
  margin: 10px;
  border: none;
}
button:hover {
  background-color: rgb(236, 126, 126);
}
